/* Sidebar */
 
.sidebar {
  width: 250px;
  height: 100vh;
 
  position: fixed;
  background: linear-gradient(135deg, #0077b6, #00b4d8);
  color: white;
  padding: 20px;
}

.logo {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 30px;
  text-align: center;
}

.menu a {
  display: block;
  padding: 12px 15px;
  font-size: 16px;
  color: white;
  border-radius: 8px;
  margin-bottom: 10px;
  text-decoration: none;
  transition: 0.3s;
}

.menu a:hover {
  background: #00b4d8;
  color: white;
}

.logout {
  margin-top: 30px;
  color: #ff5252 !important;
  font-weight: 600;
}
